header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(27, 8, 112);
}

.logo-image{
    width: 80px;
    height: 60px;
}

.ul-nav{
    list-style: none;
    display: flex;
    gap: 30px;
}

.a-nav{
    color: white;
}

.bar-1{
    background-color: rgb(27, 8, 112);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 20px 0px;
}

.bar-1-left{
    width: 500px;
    height: 300px;
    text-align: center;
}

.segunda-img{
    width: 500px;
    height: 300px;
}

.bar-2{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}